<h1>Projects Available
<a class="btn btn-primary btn-sm" [routerLink]="'/projects/newProject'">
	<span class="glyphicons glyphicon-plus"></span> New Project</a>
	</h1>
<p *ngIf="!projects"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="projects" style="text-align=center">
    <thead>
        <tr>
			<th>ID</th>
            <th>Name</th>
            <th>Description</th>
			<th>Requirements</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects">
			<td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.description }}</td>
			<td>{{ project.requirements }}</td>
			<td>
			<div class="btn-group btn-group-sm" role="group">
			<button class="btn btn-info" [routerLink]="['/projects', project.id]">Open Tasks</button>
			<button class="btn btn-danger" (click)="delete(project.id)"><span class="glyphicon glyphicon-trash"></span></button></div>
			</td>
		</tr>
    </tbody>
</table>

